$line-height-ratio   = 1.75
$heading-ratio       = $golden
$body-font           = $helvetica
$body-font-weight    = 300
$body-color          = #333
$heading-font        = $helvetica
$heading-font-weight = 500
$heading-color       = #212121
$min-font            = 16px
$max-font            = 18px
$min-width           = 600px
$max-width           = 1000px
$vertical-rhythm     = true